/* Desktop */

@media (min-width: 768px) {

  #bgMainSection {
    background: url("../img/desktop/background-main-section.png") center;
    width: 100%;
    height: 600px;
    overflow: auto;
  }

  nav {
    margin-top: 87px;
    height: 143px;
  }

  nav > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  nav ul a {
    text-decoration: none;
    color: #FFF;
    float: right;
    height: 100px;
    width: 25%;
  }

  nav ul a:hover {
    background-color: #FFF;
    color: #000000;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    transition: 0.3s linear;
  }

  nav ul a li {
    margin-top: 38px;
  }

  #menuMobile li {
    margin-top: 14px;
  }

  #avatar {
    margin-top: 27px;
  }

  #avatar img {
    margin-bottom: 30px;
  }

  #avatar #typed {
    font-family: 'Roboto Mono', monospace;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size: 36px;
  }

  #avatar span {
    color: #000;
    text-shadow: 0px 0px 0px;
  }

  .typed-cursor{
    font-size: 36px;
    opacity: 1;
            animation: typedjsBlink 0.9s infinite;
    -webkit-animation: typedjsBlink 0.9s infinite;
            animation: typedjsBlink 0.9s infinite;
  } /* uguale */

  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  } /* uguale */

  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  } /* uguale */

  .shadow-img {
    box-shadow: 1px 1px 40px -8px #000;
  } /* uguale */

  #sectionInProgress {
    margin-bottom: 100px;
  }

  #sectionInProgress h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
  }

  #sectionInProgress h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
  }

  #sectionInProgress a {
    display: block;
    margin-top: 50px;
  }

  #sectionInProgress p {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
  }

  #skillInProgress a {
    margin-top: 67px;
  }

  #skillInProgress p {
    margin-top: 76px;
  }

  #dividerSectionInProgress{
    width: 4px;
    background-color: #E6ECF0;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  #bgSectionDone {
    height: 100px;
    width: 100%;
    background: url("../img/desktop/bg-section-done.png") center;
  }

  #sectionDone {
    background-color: #E6ECF0;
    padding-bottom: 150px;
  }

  #sectionDone h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
  }

  #sectionDone h2 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
  }

  #sectionDone a {
    margin-top: 50px;
    display: block;
  }

  #workDone a:hover {
    box-shadow: 0px 10px 30px -12px #000;
    transition: 0.3s ease-in-out;
  }

  #sectionDone p {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
  }

  #dividerWorkDone {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #firstCircle {
    margin-right: 125px;
  }

  #secondCircle {
    margin-right: 125px;
  }

  #social {
    height: 200px;
    background-color: #E62117;
    padding-top: 75px;
  }

  .icon-mobile i:hover {
    color: #000;
  }

}

/* Mobile */

@media (max-width: 768px) {

  #bgMainSection {
    background: url("../img/mobile/bg-mobile-main-section.png") center;
    width: 100%;
    height: 600px;
    overflow: auto;
  } /* dividere */

  nav {
    margin-top: 12px;
    height: 218px;
  } /* uguale */

  nav > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
  } /* uguale */

  ul#navCollapse {
    border: 1px solid #FFF;
    border-radius: 4px;
    margin-top: 16px;
  }

  nav ul a {
    float: right;
    height: 100px;
    width: 30.33%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: #FFF;
    text-decoration: none;
  } /* uguale */

  nav ul a li {
    margin-top: 38px;
  } /* uguale */

  #menuMobile {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    border: 1px solid #FFF;
    border-radius: 15px;
  } /* lascia */

  #menuMobile li {
    margin-top: 0px;
  }

  #menuMobile i {
    margin-top: 14px;
    color: #FFF;
  } /* lascia */

  #avatar {
    margin-top: 27px;
  } /* uguale */

  #avatar img {
    margin-bottom: 30px;
  }

  #avatar #typed {
    font-family: 'Roboto Mono', monospace;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size: 36px;
  } /* uguale */

  #avatar span {
    color: #000;
    text-shadow: 0px 0px 0px;
  }

  .typed-cursor{
    font-size: 36px;
    opacity: 1;
            animation: typedjsBlink 0.9s infinite;
    -webkit-animation: typedjsBlink 0.9s infinite;
            animation: typedjsBlink 0.9s infinite;
  } /* uguale */

  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  } /* uguale */

  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  } /* uguale */

  .shadow-img, .shadow-img-workDone-mobile {
    box-shadow: 1px 1px 40px -8px #000;
  } /* uguale */

  #sectionInProgress h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
  } /* uguale */

  #sectionInProgress h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
  } /* dividere */

  #workInProgressMobile img {
    width: 100%;
    margin-top: 50px;
  } /* lascia */

  #workInProgressMobile p {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
  } /* lascia */

  #dividerSectionInProgressMobile {
    height: 5px;
    width: 320px;
    background-color: #E6ECF0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  } /* lascia */

  #skillInProgressMobile img {
    margin-top: 50px;
  } /* lascia */

  #skillInProgressMobile p {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 120px;
  } /* lascia */

  #bgSectionDone {
    height: 100px;
    width: 100%;
    background: url("../img/mobile/bg-section-done-mobile.png") center;
  } /* lascia */

  #sectionDone {
    background-color: #E6ECF0;
    padding-bottom: 150px;
  } /* uguale */

  #sectionDone h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
  } /* uguale */

  #sectionDone h2 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
  } /* uguale */

  #sectionDone img {
    margin-top: 50px;
  } /* lascia */

  #sectionDone p {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
  } /* uguale */

  #dividerWorkDone {
    margin-top: 100px;
    margin-bottom: 50px;
  } /* dividi */

  #firstCircle {
    margin-right: 80px;
  } /* lascia */

  #secondCircle {
    margin-right: 80px;
  } /* lascia */

  #social {
    padding-bottom: 50px;
    background-color: #E62117;
  }

  .icon-mobile {
    padding-top: 50px;
  }

}
